# Africa's Talking API Credentials
# Get these from: https://account.africastalking.com/

AT_USERNAME=NexusWave
AT_API_KEY=atsk_71061f1213fd80094295c0bb4cef6613d151801a1bbbefdc1894484ad8dac4cf2825c1c6
AT_SENDER_ID=your_shortcode_or_alphanumeric
